body {
    font-family: 'Specail Elite', cursive;
    background: rgb(192, 228, 204);
}
.header_div {
    color: rgb(129, 125, 126);
    background: rgb(250, 181, 193);
}
.header_div p {
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bolder;
}
.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    background: rgb(94, 94, 247);
}
.copy_right_footer {
    position: fixed;
    color: hsl(0, 2%, 47%);
    bottom: 0;
    width: 100%;
    font-size: 25px;
    background-color: white;
    text-align: center;
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(167, 162, 162); 
}
